@media (max-width:575px) {
    .container {
        width: 100%;
        height: auto;
        margin:0 auto;
        padding-left:15px;
        padding-right:15px;
    }

    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: 16.66%;
    }
     .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width:33.33%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.33%;
    
    }
    .col-xs-11{
        width: 91.66%;
    }
    .col-xs-12{
        width:100%;
    }
    .d-xs-none {
        display: none;
    }
    .j-xs-center {
        justify-content: center;
    }
    .js-xs-between {
        justify-content: space-between;
    }
    .d-xs-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .d-xs-b{
        display: block;
    }
    .a-xs-center {
        align-items: center;
    }
    .m-xs-auto {
        margin: 0 auto;
    }
    .mb-xs-3{
        margin-bottom: 15px;
    }
    .m-xs {
        margin: 15px ;
    }

    .p-5-15{
        padding: 5px 15px;
    }
    .p-xs-0{
        padding: 0;
    }
    .ps-xs-0{
        padding-left: 0;
    }
    .menu {
        font-size: 20px;

    }
    .bg-xs-p-center{
        background-position: center;
    }
    .bg-l-p-none{
        background-position: none;
    }
    .product-categories ul li a {
        padding: 0 5px;
    }
    .ls-xs-none {
        list-style: none;
    }
    .py-xs-20 {
       padding: 20px 20px;
    }
    .p-xs-0{
        padding:0 0;
    }
    .px-xs-0{
        padding: 0 0;
    }
    .pt-xs-3{
        padding: 15px 0 0 0;
    }
    .title h2{
        font-size:24px;
        margin-bottom:15px;
        color:#000000;
        text-align:center;
        font-weight:400;
    }
    .m-xs-15{
        margin: 15px;
    }
    .container .title h2{
        margin:0;
    }
    .about {
        padding: 10px 0;
    }

    .about-btn {
        padding: 0 0 15px 0 ;
    }
    .title-p {
        padding: 15px 0 0 0;
    }
    .featured-part1{
        text-align: center;
    }
    .deal-img :first-child {
        width: 100%;
    }
    .container .deal-detail h2 {
        padding: 15px 0;
    }
    .container .deal-detail h3 {
        padding: 0px;
    }
    .offer-bg{
        width:100%;
       padding: 25px 0;
    }
    .new-product-item{
       padding: 5px 5px;
    }
    .pomo img {
        width: 100%;
    }
    .review-bg {
        background-image: none;
    }
    .j-xs-all-center{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .t-xs-center {
        text-align: center;
    }
    .t-xs-end{
        text-align: end;
    }
    .photo span {
        width: 100%;
    }
    footer .footer-box-socialicon {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}